
@model FcRoomBooking.Models.Domain.RoomBooking

@*@using Microsoft.AspNetCore.Identity
@using FcRoomBooking.Models.Domain
@inject UserManager<ApplicationUser> UserManager*@
@{
    Layout = "_LayoutAdmin";
}

<div class="col-lg-12 d-flex flex-column grid-margin stretch-card bg-white p-4 rounded shadow-sm">
    <div class="card-body">
        <h4 class="card-title mb-5">Edit RoomBooking</h4>
        <form class="forms-sample" asp-controller="RoomBooking" asp-action="EditMyMeeting" method="post" autocomplete="off" enctype="multipart/form-data">
           
                <input type="hidden" class="form-control" id="exampleInputUsername1" asp-for="UserId">
            <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="form-group">
                            <label for="exampleInputUsername1">Room Name</label>
                            <select class="form-control" asp-items="@ViewBag.PackOfRoom" asp-for="RoomId" required>
                                <option value="noselectedvalue">---</option>
                            </select>
                    </div>
                    <div class="form-group">
                           <label for="exampleInputUsername1">Start From</label>
                           <input type="datetime-local" class="form-control" id="exampleInputUsername1"asp-for="BookingFrom" required>
                    </div>
                 
              </div>
            </div>     
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    
                    <div class="form-group">
                            <label for="exampleInputUsername1">Subject</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" asp-for="Subject" required>
                    </div>
                    <div class="form-group">
                            <label for="exampleInputUsername1">End In</label>
                            <input type="datetime-local" minute-values="0,15,30,45" class="form-control" id="exampleInputUsername1" asp-for="BookingTo" required>
                    </div>
                
              </div>
            </div>
        </div>
            <div class="form-group " style="margin-top:0;">
                <label for="exampleInputUsername1">Participants</label>
                 <div class="container" id="dropdownSelected" style="display:none;"> </div>
                 @*<select multiple search='true' asp-for="SelectedUser" multiple="multiple" class="selectpicker form-control" asp-items="@ViewBag.PackOfUser"> 
                 </select>*@
                 @*<div class="container">*@
                    <select multiple search='true' asp-for="SelectedUser" asp-items="@ViewBag.PackOfUser">
                    
                        @*<option selected="@(ViewBag.PackOfUser==ViewBag.SelectUser?true:false)"></option>*@
                    
                    </select>
                  @*</div>*@
               
            </div>
            <div class="form-group">
                <label for="exampleInputUsername1">Detail</label>
                <input type="text" class="form-control" id="exampleInputUsername1" asp-for="Detail">
            </div>
            <input type="hidden" class="form-control" id="exampleInputUsername1" asp-for="RoomStatusID">
            @*<input type="text" name="date" value="">
	        <script type="text/javascript">
		        $(function(){
			        $('*[name=date]').appendDtpicker();
		        });
	        </script>*@

            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a class="btn btn-light" asp-controller="RoomBooking" asp-action="ListMyMeeting">Cancel</a>
        </form>
    </div>
</div>




